//COLORS

$GREY: #4a4f56;
$BG-GREY: #3b3f45;
$WHITE: white;
$ACTIVE: #EF887A;
$COLOR-FONT-1: #eb7e7f;
$COLOR-ODD: #88839e;
$COLOR-EVEN: #7a7593;
$COLOR-ITEM-T: #f6f2ed;
$COLOR-ITEM-ST: #AEB8C5;

// Fonts
$base-font: "Trebuchet MS", Trebuchet, Arial, sans-serif;
$base-font-size: 16px;

// Font Sizes
@function calcRem($size) {
  $remSize: $size / $base-font-size;
  @return #{$remSize}rem;
}

$H30: calcRem(30px);
$H25: calcRem(25px);
$H20: calcRem(20px);
$H14: calcRem(14px);