<div class="services">
  <div class="services__wrapper">
    <div class="services__list">
      <ul class="services__list__items">
        <li class="services__list__item">
          <span class="services__list__title">Online Shopping</span>
          <span class="services__list__svg">
            <i class="fas fa-shopping-cart"></i>
          </span>
        </li>
        <li class="services__list__item">
          <span class="services__list__title">Quality Product</span>
          <span class="services__list__svg">
            <i class="fab fa-pagelines"></i>
          </span>
        </li>
        <li class="services__list__item">
          <span class="services__list__title"
            >Domestic & International Delivery</span
          >
          <span class="services__list__svg">
            <i class="fas fa-globe-europe"></i>
          </span>
        </li>
        <li class="services__list__item">
          <span class="services__list__title">Well Organized</span>
          <span class="services__list__svg">
            <i class="fas fa-carrot"></i>
          </span>
        </li>
      </ul>
    </div>
    <div class="services__title">
      <span class="services__txt">Our Services</span>
      <div class="services__images">
        <img class="services__img" src="./assets/images/tomato.png" alt="" />
      </div>
    </div>
  </div>
</div>
