@mixin text($font-size: $H18, $font-weight: 500, $font-color: $WHITE) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $font-color;
}
@mixin flex-col(
  $jc: flex-start,
  $ai: stretch,
  $direction: column,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $wrap;
}


@mixin flex($direction: row, $jc: flex-start, $ai: stretch, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $wrap;
}

@mixin size($size) {
  width: $size;
  height: $size;
}
