//COLORS

$GREY: #4a4f56;
$COLOR-FONT-1: #eb7e7f;

// Fonts
$base-font: "Trebuchet MS", Trebuchet, Arial, sans-serif;
$base-font-size: 16px;

// Font Sizes
@function calcRem($size) {
  $remSize: $size / $base-font-size;
  @return #{$remSize}rem;
}

$H24: calcRem(24px); // 1.5rem
$H20: calcRem(20px);
$H18: calcRem(18px);
$H14: calcRem(14px);
