.services {
  background-color: $blue;
  &__wrapper {
    @include flex(center, center, row, wrap);
    max-width: 1500px;
    margin: 0 auto;
    padding: 150px 0px;
    @include media-d-m($screen-netbook) {
      @include flex(center, center, column-reverse, wrap);
    }
  }
  &__banner {
    position: relative;
  }
  &__title {
    @include flex(center, center, row, wrap);
    @include text($h60, 700, $white, $f-raleway);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &__images {
    width: 400px;
    @include padding-hack(114%);
    @include media-d-m($screen-netbook) {
      margin-bottom: 30px;
    }
  }
  &__title {
    position: relative;
  }
  &__title {
    @include flex(center, center, row, wrap);
    @include text($h60, 700, $white, $f-raleway);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &__images {
    width: 400px;
    @include padding-hack(114%);
    @include media-d-m($screen-netbook) {
      margin-bottom: 30px;
    }
  }
}
