.main__header{
    position: relative;
    top: -300px;
    right: -200px;
    @include flex(column, flex-end, flex-end, nowrap);
    .main-header__title{
        @include size(880px, auto);

        background-color: $light-black;
        padding: 50px 0 50px 63px;

        &-txt{
            @include txt ($h15, 400, $f-proxima, $white);
            @include flex(column, flex-end, stretch, nowrap);
            letter-spacing: 5px;
            padding-bottom: 13px;
            opacity: 0.5;
        }
        &-input{
            @include txt($h48, 400, $f-playfair, $white);
            background-color: $light-black;
            border: none;
            padding-bottom: 21px;
            border-bottom: 4px solid #ffffff10;
        }
        &-input::placeholder{
            color: $white;
        }
    }
    .main-header__control{
        @include size(812px, 50px);
        background-color: $yellow;
        float: right;
    }
}