@mixin text(
  $font-size: $H18,
  $font-weight: 500,
  $font-color: $white
) {
  font-size: $font-size;
  font-weight: $font-weight;
  font-family: $font-family;
  color: $font-color;
}
@mixin flex-col(
  $direction: column,
  $jc: flex-start,
  $ai: stretch,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $wrap;
}

@mixin flex($direction: row, $jc: flex-start, $ai: stretch, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $wrap;
}

@mixin size($size-w, $size-h) {
  width: $size-w;
  height: $size-h;
}
