<section class="blog">
  <div class="blog__text">
    <h1 class="blog__text--title">Blog</h1>
      <h2 class="blog__text--subtitle">
        Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit.
      </h2>
  </div>
  <div class="blog__gallery">
      <ul class="blog__gallery--items">
          <li class="blog__gallery--item">
            <img src="./assets/images/blog-img-1.png" alt="" class="blog__gallery--item--img">
            <div class="blog__gallery--content">
                <div class="blog__gallery--date">
                    <h3 class="blog__gallery--date--num">23</h3>
                    <h3 class="blog__gallery--date--mon">NOV</h3>
                </div>
                <div class="blog__gallery--text">
                    <h3 class="blog__gallery--text--title">Green Smoothies: Too Much of a Good Thing?</h3>
                    <h3 class="blog__gallery--text--subtitle">By Auskteez - 2 hours ago</h3>
                </div>
            </div>
          </li>
          <li class="blog__gallery--item">
            <img src="./assets/images/blog-img-2.png" alt="" class="blog__gallery--item--img">
            <div class="blog__gallery--content">
                <div class="blog__gallery--date">
                    <h3 class="blog__gallery--date--num">23</h3>
                    <h3 class="blog__gallery--date--mon">NOV</h3>
                </div>
                <div class="blog__gallery--text">
                    <h3 class="blog__gallery--text--title">Green Smoothies: Too Much of a Good Thing?</h3>
                    <h3 class="blog__gallery--text--subtitle">By Auskteez - 2 hours ago</h3>
                </div>
            </div>
          </li>
          <li class="blog__gallery--item">
            <img src="./assets/images/blog-img-3.png" alt="" class="blog__gallery--item--img">
            <div class="blog__gallery--content">
                <div class="blog__gallery--date">
                    <h3 class="blog__gallery--date--num">23</h3>
                    <h3 class="blog__gallery--date--mon">NOV</h3>
                </div>
                <div class="blog__gallery--text">
                    <h3 class="blog__gallery--text--title">Green Smoothies: Too Much of a Good Thing?</h3>
                    <h3 class="blog__gallery--text--subtitle">By Auskteez - 2 hours ago</h3>
                </div>
            </div>
          </li>
      </ul>
  </div>
  <button class="button blog__button">VIEW MORE</button>
</section>
