@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    width: auto;
    height: 430px;
    background: #121116;
}

.logo {
    width: 112px;
    margin: 0 auto;
    margin-bottom: 51px;
}

.logo img {
    margin-top: 120px;
}

.social-part-txt {
    width: 158px;
    margin: 0 auto;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "WE ARE SOC" */
    letter-spacing: 1px;
    margin-bottom: 21px;
}

.social-part {
    margin-bottom: 86px;
}

.separator {
    width: 230px;
    height: 1px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-bottom: 21px;
}

.social-part-img {
    width: 230px;

    margin: 0 auto;
    text-align: center;
}

.social-part-img ul li {
    display: inline-block;
    padding: 0 17px 0 17px;
}

.copyright {
    width: 100%;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.copyright span {
    color: #00c7fc;
}