* {
    padding: 0;
    margin: 0;
}

body {
    width: 1000px;
    margin: 0 auto;

    background: #990909;

    font-size: 18px;
    text-align: center;
    color: #fff;
}

header {
    height: 45px;
    padding-top: 20px;

    letter-spacing: 3px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 100;
}

.g-line {
    width: 450px;
    height: 2px;
    margin: 0 auto;

    background: rgb(153, 9, 9);
    background: linear-gradient(90deg, rgba(153, 9, 9, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(153, 9, 9, 1) 100%);
}

.black-album {
    height: 160px;
    background: #000;
    text-align: center;
}

figure {
    float: left;
    width: 25%;
    margin: 25px 0 0;
}

figure img {
    height: 110px;
}

.left-menu {
    width: 23%;
    height: 310px;

    float: left;
    text-align: left;

    background: #7D0909;
}

.left-menu a {
    color: #E95B0E;
}

.left-menu ul li {
    padding: 10px;
    list-style-type: none;
}

.page {
    width: 60%;
    height: 310px;

    float: left;

    text-align: left;
    margin: 0 1%;
}

.page aside {
    margin: 10px 0;
}

.right-menu {
    width: 15%;
    height: 310px;

    text-align: left;
    float: left;
    color: black;
    background: #E3DDDD;
}

.title {
    background: #BDBDBD;

    text-align: center;
}

.g-line-two {
    width: 50%;
    height: 2px;
    background: #9A9A9A;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

.element {
    padding: 10px 0;
}

footer {
    width: 100%;
    height: 20px;
    margin-top: 15px;

    background: #E95B11;
    float: left;
}