* {
    padding: 0;
    margin: 0;
}

body {
    width: 1000px;
    margin: 0 auto;

    background: #990909;

    font-size: 18px;
    text-align: center;
    color: #fff;
}

header {
    height: 45px;
    padding-top: 20px;

    letter-spacing: 3px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 100;
}

.g-line {
    width: 450px;
    height: 2px;
    margin: 0 auto;

    background: rgb(153, 9, 9);
    background: linear-gradient(90deg, rgba(153, 9, 9, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(153, 9, 9, 1) 100%);
}

.black-album {
    height: 160px;
    background: #000;
    text-align: center;
}

figure {
    float: left;
    width: 25%;
    margin: 25px 0 0;
}

figure img {
    height: 110px;
}

.left-menu {
    width: 20%;

    background: #7D0909;
}

.left-menu a {
    color: #E95B0E;
    text-decoration: none;
}

.left-menu ul li {
    padding: 5px;
}