<div class="gallery">
  <h1 class="gallery__title">Gallery</h1>
  <h2 class="gallery__subtitle">
    Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </h2>
  <div class="gallery__grid">
      <img src="./assets/images/gallery-img-1.png" alt="" class="gallery__grid__item">
      <img src="./assets/images/gallery-img-2.png" alt="" class="gallery__grid__item">
      <img src="./assets/images/gallery-img-3.png" alt="" class="gallery__grid__item">
      <img src="./assets/images/gallery-img-4.png" alt="" class="gallery__grid__item">
      <img src="./assets/images/gallery-img-5.png" alt="" class="gallery__grid__item">
  </div>
  <button class="button button__gallery">View more</button>
</div>
